bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
*.db
.vs/
[Vv][Ss]/
.idea
src/Infrastructure/Infrastructure/Migrations/SystemRezerwacjiDbContextModelSnapshot.cs
src/Infrastructure/Infrastructure/Migrations/*
