services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=SystemRezerwacjiDb;User Id=sa;Password=YourStrong@Password;TrustServerCertificate=True;
      - SeedTestData=${SEED_TEST_DATA:-true} # Default to true if not set
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Password
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P YourStrong@Password -C -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 10
      start_period: 30s
      timeout: 5s

volumes:
  mssql_data:


