@using System.Security.Claims

@inject NavigationManager NavigationManager
@inject IAuthService AuthService

<AuthorizeView>
    <Authorized>
        <MudText Typo="Typo.body1" Class="mr-4">
            Witaj, @(context.User.Identity?.Name)
            @{
                var firstName = context.User.FindFirst(ClaimTypes.GivenName)?.Value;
                var lastName = context.User.FindFirst(ClaimTypes.Surname)?.Value;
                if (!string.IsNullOrWhiteSpace(firstName))
                {
                    <span> (@firstName @lastName)</span>
                }
            }
        </MudText>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" OnClick="BeginLogout">Wyloguj</MudButton>
    </Authorized>
    <NotAuthorized>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="register">Zarejestruj się</MudButton>
        <MudButton Variant="Variant.Text" Color="Color.Inherit" Href="login">Zaloguj się</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {

    private async Task BeginLogout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

}