/* bazowa klasa wrappera */
.page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* ograniczamy szerokość formularza i centrowanie */
.create-booking-page form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* odrobina dystansu od góry */
.create-booking-page {
  margin-top: 2rem;
}

@media (min-width: 641px) {
  .create-booking-page {
    flex-direction: row;
    justify-content: center;
  }
}