@page "/create-booking"
@using SystemRezerwacji.WebApp.Components
@using SystemRezerwacji.WebApp.Models
@inject IResourceService ResourceService
@inject IBookingService BookingService
@inject NavigationManager Nav

<h3>Nowa rezerwacja</h3>

@if (resources is null)
{
  <p><em>Ładowanie zasobów…</em></p>
}
else
{
  <BookingForm
    Model="model"
    Resources="resources"
    OnValidSubmit="HandleCreate" />
}

@code {
  private BookingRequestDto model = new();
  private List<ResourceDto>? resources;

  protected override async Task OnInitializedAsync()
  {
    resources = await ResourceService.GetResourcesAsync();
  }

  private async Task HandleCreate(BookingRequestDto dto)
  {
    if (await BookingService.CreateBookingAsync(dto))
      Nav.NavigateTo("/my-reservations");
    else
      /* TODO: obsłuż błąd */;
  }
}